<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Pass</title>
    <link rel="icon" href="<%- require('./favicon.png') %>">
  </head>
  <body>
  </body>
</html>
